{% extends 'base.html' %}
 
{% block container %}
<div class="row">
	<h2>{{device[1]}}</h2>
</div>
<div class="row">
			<p>Status: 
				{% if(device[2] == 1) %} 
					active 
				{% else %} 
					inactive
				 {% endif %}
			</p>
</div>
<div class="row">
Last update: {{device_data[0]["time"]}}
</div>
<div class="row">
Temperature: {{device_data[0]["temperature"]}} &#8451;
</div>
<div class="row">
Humidity: {{device_data[0]["humidity"]}} %
</div>
<div class="row">
Motion: {% if device_data[0]["motion"] == 0 %} none {% else %} intruder {% endif %}
</div>
<div class="row">
	<table>
		<th>
			<td>Time</td>
			<td>Temperature</td>
			<td>Humidity</td>
			<td>Motion</td>
		</th>
	{% for data in device_data %}
		<tr>
			<td>
				{{data["time"]}}
			</td>
			<td>
				{{data["temperature"]}}
			</td>
			<td>
				{{data["humidity"]}}
			</td>
			<td>
				{{data["motion"]}}
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
<script type="text/javascript">
setTimeout(function(){
   window.location.reload(1);
}, 5000);
	
</script>
{% endblock %}