{% extends 'base.html' %}
 
{% block container %}
<div class="row">
	<h2>{{device[1]}}</h2>
</div>
<div class="row">
		<div class="col-sm-4 device">
			<h3>{{device[1] }}</h3>
			<p>Status: 
				{% if(device[2] == 1) %} 
					active 
				{% else %} 
					inactive
				{% endif %}
			</p>
		</div>
</div>
<div class="row">
	{% for device_dat in device_data %}
		<p>device_Dat[1]</p>
	{% endfor %}
</div>
<script type="text/javascript">
setTimeout(function(){
   window.location.reload(1);
}, 5000);
	
</script>
{% endblock %}